body {
    font-family: Arial, sans-serif;
    background-color: #f3f5ed;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-family: oswald;
    margin-left: 250px;
}

.controls {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 225px;
    bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.controls h2 {
    margin-top: 1%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.controls input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fafbf6;
}

.controls button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.controls button:hover {
    background-color: #218838;
}

.two-way.active {
    background-color: #436610;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #218838;
    transform: scale(0.98);
    padding-top: 8px;
    padding-bottom: 8px;
}

.total {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    display: block;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.tree-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-left: 250px;
    padding: 20px;
}

.tree-block {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tree-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

.tree-edit, .tree-delete {
    width: 40%;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    color: white;
    background-color: #007bff;
}

.tree-delete {
    background-color: #dc3545;

}

.tree-edit:hover {
    background-color: #0056b3;
}

.tree-delete:hover {
    background-color: #c82333;
}


h4 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.tree-block:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.add-tree-form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-tree-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-tree-form button:hover {
    background-color: #218838;
}
